<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicioses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicioses</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="sesion">
    <ion-label>Email</ion-label>
    <ion-input placeholder="Ingrese su Email"></ion-input>
    <ion-label>Contraseña</ion-label>
    <ion-input  type="password"   placeholder="Ingrese su Contraseña"></ion-input>
    <ion-button (click)="principal()">Ingresar</ion-button> <br>
    <a (click)="registro()">¿No tiene cuenta?</a><br>
    <a (click)="recuperar()">¿Olvido su contraseña?</a>


  </div>



</ion-content>
