<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Alumn@</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header >            
    <ion-toolbar>
      <ion-title size="">Perfil Alumn@</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="centered-content">
    <img src="assets/img/user-interface (1).png" alt="Imagen" width="100" height="100">
    <ion-label>Nombres: Martin Tilin</ion-label>
    <ion-label>Apellidos: San Martin</ion-label>
    <ion-label>Telefono: 9666111777</ion-label>
    <ion-label>Email: martin.tieneunviolin@duocuc.cl</ion-label>
    <ion-label>Dirección: La calle</ion-label>
    <ion-button (click)="princ()">Volver</ion-button>
  </div>
  

</ion-content>
<ion-footer>
  <img src="assets/img/log.png" alt="logo">
  <ion-label>Copyright © DUOCUC By Kimyon1 and Belias</ion-label>
 </ion-footer>
