<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Alumn@</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="">Perfil Alumn@</ion-title>
    </ion-toolbar>
  </ion-header>
   <img src="assets/img/user-interface (1).png" alt="Imagen" width="100" height="100"> <br>
  <ion-label>Nombres: {{usuario}}</ion-label><br>
  <ion-label>Telefono: {{fono}}</ion-label><br>
  <ion-label placeholder="example@duocuc.cl">Email: {{correo}}</ion-label><br>
  <ion-label>Dirección: La calle</ion-label><br>
  
  <ion-button (click)="princ()">Volver</ion-button>


</ion-content>
<ion-footer>
  <img src="assets/img/log.png" alt="logo">
  <ion-label>Copyright © DUOCUC By Kimyon1 and Belias</ion-label>
 </ion-footer>
