
<ion-content>
  <div class="contenedor">
    <!-- <capacitor-google-map #map></capacitor-google-map> -->
    <div id="map"></div>
  </div>
  <div class="link">
    <div class="animated-text">
      <br>
      <span class="word red">a</span>
      <span class="space"></span>
      <span class="word green">dónde</span>
      <span class="space"></span>
      <span class="word blue">quieres</span>
      <span class="space"></span>
      <span class="word orange">ir?</span>
      <span class="word purple"></span>
      <ion-card>
        <ion-input class="textfield" id="direccion" placeholder="Ingrese Ubicación">
         
        </ion-input>
       </ion-card>
    </div>
  
  </div>

  
  <ion-button  (click)="createViaje()"class="boton">Buscar</ion-button>
  <ion-button (click)= "volver()"class="boton1">Volver</ion-button>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mapa</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
