<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Conductor</ion-title>
  </ion-toolbar>
</ion-header>


<div class="background-con"> 
  <img src="assets/img/12.png" alt="logo">
  <div class="centered-content">
   <ion-card-content>
    <ion-card-content></ion-card-content><ion-label>Nombres: Martin Tilin</ion-label><br></ion-card-content>
    <ion-card-content> <ion-label>Apellidos: San Martin</ion-label><br></ion-card-content>
    <ion-card-content> <ion-label>Telefono: 9666111777</ion-label><br></ion-card-content>
    <ion-card-content><ion-label>Email: martin.tieneunviolin@duocuc.cl</ion-label><br></ion-card-content>
    <ion-card-content> <ion-label>Dirección: La calle</ion-label></ion-card-content>
    <ion-button (click)="volver()" >Volver</ion-button>
    <!-- Contenido dentro del contenedor -->
  </div>
