<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Conductor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-label class="ion-padding">Bienvenid@ {{ usuario }} +569{{ fono }}</ion-label>

<ion-content >
  <ion-header >  
    <ion-toolbar>
      <ion-title size="">Perfil Conductor</ion-title>
      
    </ion-toolbar>
  </ion-header>
</ion-content>

<div class="background-con"> 
  <img src="assets/img/12.png" alt="logo">
  <div class="centered-content">
    
   <ion-card-content>
    <ion-label>Nombres: {{usuario}}</ion-label><br>
    <ion-label>Telefono: {{fono}}</ion-label><br>
    <ion-label placeholder="example@duocuc.cl">Email: {{correo}}</ion-label><br>
    <ion-label>Dirección: La calle</ion-label><br></ion-card-content>
    <ion-button (click)="volver()" >Volver</ion-button>
    <!-- Contenido dentro del contenedor -->
  </div>

  </div>
  