.textfield {
    --background: linear-gradient(to bottom, #3498db, #c782ed); 
  }
.label {
    margin-left: 8%;
}
.link {
    justify-content: center;
    text-align: center;
}

ion-content {
    --background:  #ebeef0; 

}

