
.textfield {
    background-color: #FFFFFF;
  }
.label {
    margin-left: 8%;
}
.link {
    justify-content: center;
    text-align: center;
}
ion-content{ --ion-background-color:#f8efbd};

ion-card ion-input.mi-textfield {
    background-color: #FFFFFF;
  }