<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="link" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size=""> Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  
   <ion-label>Email</ion-label><br>
   <ion-card class="textfield">
      <ion-input type="text" class="mi-textfield" placeholder="example@duocuc.cl"></ion-input>
   </ion-card>
   
   <ion-label>Nueva Contraseña</ion-label>
   <ion-card class="textfield">
     <ion-input placeholder="Contraseña"></ion-input>
   </ion-card>

   <ion-label>Repetir Nueva Contraseña</ion-label>
   <ion-card class="textfield">
      <ion-input placeholder="Contraseña"></ion-input>
   </ion-card>

   <ion-button (click)="cont()">Ingresar</ion-button>

</ion-content>
