<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Agregué para animación #title" -->
    <ion-title #title>By DuocUC
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>


    <div id="logo" >
      <img src="assets/img/logoapp2.png" alt="milogo">
    </div>
  



  <div id="sesion">
   
    
  </div>

  <div id="container">
   
    <ion-button (click)="IniciosesPage()">Ingresar</ion-button>
  
  </div>
  

</ion-content>
